*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color:#42408C;
    /* display: flex;
    align-items: center;
    justify-content: center;

*/
} 
#logo{
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
#logo path:nth-child(1){
    stroke-dasharray: 300px;
    stroke-dashoffset: 30px;
}
#logo path:nth-child(2){
    
}
#logo path:nth-child(3){
    
}
#logo path:nth-child(4){
    
}
#logo path:nth-child(5){
    
}
#logo path:nth-child(6){
    
}
#logo path:nth-child(7){
    
}
#logo path:nth-child(8){
    
}